/* 
    Document   : pbGraph
    Created on : Aug 20, 2015, 12:51:32 AM
    Author     : Mayank
    Description:
        Purpose of the stylesheet follows.
*/

.buttonOnMouse {
    background-color: #9D9ED7;
}
.buttonOnClick {
    background-color: #800000;
    color: white;
}
.buttonOnMouseOut {
    
}
