
            ul {padding-left: 0px; margin: 0px;}
            #accordian {
/*                background-color: #004050;*/
                box-shadow: 0 5px 15px 1px rgba(0,0,0,.6), 0 0 200px 1px rgba(255,255,255,.5);
                color: white;
                width: 300px;
            }

            /*heading styles*/


            #accordian h3 {
                /*fallback for browsers not supporting gradients
                background: #003040;
/               background: linear-gradient(#003040, #002535);*/
                cursor: pointer;
                font-size: 12px;
                line-height: 34px;
                padding: 0 10px;

            }

            /*heading hover effect*/


            #accordian h3:hover { text-shadow: 0 0 1px rgba(255,255,255,.7); }

            /*iconfont styles*/


            #accordian h3 span {
                font-size: 16px;
                margin-right: 10px;
            }

            /*list items*/


            #accordian li { list-style-type: none; }
/*            #accordian li ul {background: #3f3f3f;}*/
            #accordian li ul {background: #939393;}
            #accordian ul ul li a {
                color: white;
                /*  display: block;*/
                font-size: 12px;
                line-height: 27px;
                padding: 0 15px;
                text-decoration: none;
                transition: all 0.15s;
            }

            #accordian ul ul li a:hover {
                background-color: #696969;
                border-left: 5px solid #8BC34A;
            }

            #accordian li.active ul { display: block; }