<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!--     <listener>
  	<listener-class>
  		com.progen.scheduler.reportScheduleLoading
  	</listener-class>
    </listener>-->
 <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>
		com.progen.filter.EncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
    </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>   

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MemberExistance</servlet-name>
        <servlet-class>prg.ajax.MemberExistance</servlet-class>
    </servlet>
    <servlet>
<!--        <servlet-name>TrackerStartUpServlet</servlet-name>
        <servlet-class>prg.tracker.scheduler.TrackerStartUpServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>-->
        <servlet-name>BucketDBExistance</servlet-name>
        <servlet-class>prg.ajax.BucketDBExistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DimensionDeleteColumns</servlet-name>
        <servlet-class>prg.ajax.DimensionDeleteColumns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBTableDeleteColumns</servlet-name>
        <servlet-class>prg.ajax.DBTableDeleteColumns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeDimKeyValue</servlet-name>
        <servlet-class>prg.ajax.TimeDimKeyValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTableNames</servlet-name>
        <servlet-class>prg.ajax.GetTableNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestConnection</servlet-name>
        <servlet-class>prg.ajax.TestConnection</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>TestConnectionSqlserver</servlet-name>
        <servlet-class>prg.ajax.TestConnectionSqlserver</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestExcelConnection</servlet-name>
        <servlet-class>prg.ajax.TestExcelConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPKValues</servlet-name>
        <servlet-class>prg.ajax.getPKValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHierarchy</servlet-name>
        <servlet-class>prg.ajax.CreateHierarchy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTablevalues</servlet-name>
        <servlet-class>prg.ajax.GetTablevalues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTabvalue</servlet-name>
        <servlet-class>prg.ajax.GetTabvalue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDefaultValues</servlet-name>
        <servlet-class>prg.ajax.GetDefaultValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeDimExistance</servlet-name>
        <servlet-class>prg.ajax.TimeDimExistance</servlet-class>
        </servlet>

    <servlet>
        <servlet-name>CheckQuery</servlet-name>
        <servlet-class>prg.ajax.CheckQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckFilter</servlet-name>
        <servlet-class>prg.ajax.CheckFilter</servlet-class>
    </servlet>
 <servlet> 
     <servlet-name>log4j-init</servlet-name>
     <servlet-class>com.progen.log.Log4jInit</servlet-class> 
     <init-param>
       <param-name>log4j-init-file</param-name>
       <param-value>WEB-INF/classes/log4j.properties</param-value>
     </init-param>
     <load-on-startup>3</load-on-startup>
    </servlet> 
    <servlet>
        <servlet-name>CalenderEditSetUp</servlet-name>
        <servlet-class>prg.ajax.CalenderEditSetUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalenderNumofDaysCheck</servlet-name>
        <servlet-class>prg.ajax.CalenderNumofDaysCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPublishBusRole</servlet-name>
        <servlet-class>prg.ajax.CheckPublishBusRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuplicateBucketNameExist</servlet-name>
        <servlet-class>prg.ajax.DuplicateBucketNameExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentGrpValuesajax</servlet-name>
        <servlet-class>prg.ajax.ParentGrpValuesajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuplicateGroup</servlet-name>
        <servlet-class>prg.ajax.DuplicateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCustMeasureQuery</servlet-name>
        <servlet-class>prg.ajax.CheckCustMeasureQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepCepViewVals</servlet-name>
        <servlet-class>prg.ajax.RepCepViewVals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScenarioMonths</servlet-name>
        <servlet-class>prg.ajax.GetScenarioMonths</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScenarioYears</servlet-name>
        <servlet-class>prg.ajax.GetScenarioYears</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetParameters</servlet-name>
        <servlet-class>com.progen.scenario.display.GetParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScenarioParameters</servlet-name>
        <servlet-class>prg.ajax.GetScenarioParameters</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>PbDownloadServlet</servlet-name>
        <servlet-class>com.progen.servlet.PbDownloadServlet</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>searchdropdown</servlet-name>
        <servlet-class>prg.util.searchdropdown</servlet-class>
    </servlet>
    <servlet-mapping>
<!--        <servlet-name>TrackerStartUpServlet</servlet-name>
        <url-pattern>/TrackerStartUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>-->
        <servlet-name>GetParameters</servlet-name>
        <url-pattern>/GetParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScenarioMonths</servlet-name>
        <url-pattern>/GetScenarioMonths</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScenarioParameters</servlet-name>
        <url-pattern>/GetScenarioParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberExistance</servlet-name>
        <url-pattern>/MemberExistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BucketDBExistance</servlet-name>
        <url-pattern>/BucketDBExistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DimensionDeleteColumns</servlet-name>
        <url-pattern>/DimensionDeleteColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTableDeleteColumns</servlet-name>
        <url-pattern>/DBTableDeleteColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeDimKeyValue</servlet-name>
        <url-pattern>/TimeDimKeyValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTableNames</servlet-name>
        <url-pattern>/GetTableNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestConnection</servlet-name>
        <url-pattern>/TestConnection</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>TestConnectionSqlserver</servlet-name>
        <url-pattern>/TestConnectionSqlserver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestExcelConnection</servlet-name>
        <url-pattern>/TestExcelConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPKValues</servlet-name>
        <url-pattern>/getPKValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHierarchy</servlet-name>
        <url-pattern>/CreateHierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDefaultValues</servlet-name>
        <url-pattern>/GetDefaultValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeDimExistance</servlet-name>
        <url-pattern>/TimeDimExistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuery</servlet-name>
        <url-pattern>/checkQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckFilter</servlet-name>
        <url-pattern>/checkFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTablevalues</servlet-name>
        <url-pattern>/GetTablevalues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTabvalue</servlet-name>
        <url-pattern>/GetTabvalue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalenderEditSetUp</servlet-name>
        <url-pattern>/CalenderEditSetUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalenderNumofDaysCheck</servlet-name>
        <url-pattern>/CalenderNumofDaysCheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Login</description>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.progen.user.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TargetMeasure</servlet-name>
        <servlet-class>prg.ajax.TargetMeasure</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TargetMeasure</servlet-name>
        <url-pattern>/measure</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetEmails</servlet-name>
        <servlet-class>prg.ajax.GetEmails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEmails</servlet-name>
        <url-pattern>/getEmails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetRegions</servlet-name>
        <servlet-class>com.progen.report.display.GetParameterLov</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRegions</servlet-name>
        <url-pattern>/dsrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPublishBusRole</servlet-name>
        <url-pattern>/CheckPublishBusRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuplicateBucketNameExist</servlet-name>
        <url-pattern>/DuplicateBucketNameExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentGrpValuesajax</servlet-name>
        <url-pattern>/ParentGrpValuesajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuplicateGroup</servlet-name>
        <url-pattern>/DuplicateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCustMeasureQuery</servlet-name>
        <url-pattern>/CheckCustMeasureQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepCepViewVals</servlet-name>
        <url-pattern>/RepCepViewVals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScenarioYears</servlet-name>
        <url-pattern>/GetScenarioYears</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchdropdown</servlet-name>
        <url-pattern>/searchdropdown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PbDownloadServlet</servlet-name>
        <url-pattern>/PbDownloadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pbStartPage.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
    <context-param>
        <description>Need to mention is the application using FX charts or jFree charts</description>
        <param-name>isFxCharts</param-name>
        <!--<param-value>true</param-value>-->
        <param-value>false</param-value>
    </context-param>
    
<!-- Added by Ashutosh for SSO URL-->
<!--For test server -->
    <context-param>
        <param-name>sso_login</param-name>
        <param-value>https://ft.client.veraction.com/sso/login</param-value>
    </context-param>
     <context-param>
        <param-name>sso_logout</param-name>
        <param-value>https://ft.client.veraction.com/sso/logout</param-value>
    </context-param>
    <context-param>
        <param-name>sso_validate</param-name>
        <param-value>https://app-ft-30.mem-tw.veraction.net:7701/sso/session/$/validate?appToken=710f4b14-6064-4166-9297-cca19b40d503</param-value>
    </context-param>
    <context-param>
        <param-name>sso_users</param-name>
        <param-value>https://app-ft-30.mem-tw.veraction.net:7701/sso/session/$/user?appToken=710f4b14-6064-4166-9297-cca19b40d503</param-value>
    </context-param>
    <context-param>
        <param-name>sso_links</param-name>
        <param-value>https://app-ft-30.mem-tw.veraction.net:7701/sso/session/$/links?appToken=710f4b14-6064-4166-9297-cca19b40d503</param-value>
    </context-param>
    <context-param>
        <param-name>sso_keepAlive</param-name>
        <param-value>https://app-ft-30.mem-tw.veraction.net:7701/sso/session/$/keepAlive?appToken=710f4b14-6064-4166-9297-cca19b40d503</param-value>
    </context-param>
 <!--Ended by Ashutosh-->   
 
   <context-param>
        <description>Need to mention is the application using company login or not(specific to indicus)</description>
        <param-name>isCompanyValid</param-name>
        <param-value>false</param-value>
         <!--<param-value>true</param-value>-->
    </context-param>
    <context-param>
        <description>Need to mention is the application is Accessible or not(specific to BhartiAXA)</description>
        <param-name>isAxa</param-name>
        <param-value>false</param-value>
<!--         <param-value>true</param-value>-->
    </context-param>
    <context-param>
        <param-name>wordtagger</param-name>
        <param-value>/home/progen/left3words-wsj-0-18.tagger</param-value>
    </context-param>
    <context-param>
        <param-name>wordnet</param-name>
        <param-value>/home/progen/WordNet-3.0/dict/</param-value>
    </context-param>
       <context-param>
        <param-name>TotalSessionsAssigned</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <param-name>ParallelUsage</param-name>
        <param-value>Yes</param-value>
    </context-param>
    <context-param>
        <param-name>ServerLicencing</param-name>
        <param-value>No</param-value>
    </context-param>
    
   <listener>
 <listener-class>com.progen.user.SessionListener</listener-class>
</listener>


<!--<security-constraint>
<web-resource-collection>
<web-resource-name>SecureSession</web-resource-name>
<url-pattern>/*</url-pattern>
</web-resource-collection>
<user-data-constraint>
<transport-guarantee>CONFIDENTIAL</transport-guarantee>
</user-data-constraint>
</security-constraint> -->
    
</web-app>