/* 
    Document   : dropDownMenu
    Created on : 3 Jul, 2010, 12:08:50 PM
    Author     : chiru
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* 									{ margin: 0; padding: 0; }
body								{ font-family: Verdana; }
#page-wrap							{ width: 800px; margin: 25px auto; }
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }

/*
	LEVEL ONE
*/
ul.dropDownMenu                         { position: relative;z-index: 1000 }
ul.dropDownMenu li                      { font-weight: bold; float: left; zoom: 1; background: #b4d9ee;z-index: 1002 }
ul.dropDownMenu a:hover		        { color: #000; text-decoration: none }
ul.dropDownMenu a:active                { color: #b4d9ee; }
ul.dropDownMenu li a                    { display: block; padding: 4px 8px; border-right: 1px solid #b4d9ee;color: #000;z-index: 1005 }
ul.dropDownMenu li:last-child a         { border-right: none; } /* Doesn't work in IE */
/*ul.dropDownMenu li.hover,*/
ul.dropDownMenu li:hover                { background: #fff; color: black; position: relative; }
ul.dropDownMenu li.hover a              { color: #000; }


/*
	LEVEL TWO
*/
ul.dropDownMenu ul 						{ width: 100px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropDownMenu ul li 					{ font-weight: normal; background: #64B2FF; color: #000;border:1px solid #ccc; float: none;}

/* IE 6 & 7 Needs Inline Block */
ul.dropDownMenu ul li a					{ border-right: none; width: 100%; display: inline-block; }

/*
	LEVEL THREE
*/
ul.dropDownMenu ul ul 					{ left: 100%; top: 0; }
ul.dropDownMenu li:hover > ul 			{ visibility:visible; }

