/* 
Document   : pbUserLayer
Created on : Sep 11, 2009, 3:13:27 PM
Author     : Administrator
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


table tr th {
    background-color: #d3DADE;
    padding: 3px;
}
table tr.rowb { background-color:#EAf2FD; }

table tr.filterColumns td { padding:2px; }

body { padding-bottom:150px; }

*
{
    margin:         0px;
    padding:        0px;
    font:           11px verdana;
}

ul.project
{
    margin-left:    0px;
}

h1
{
    font:           24px verdana;
}

h2
{
    margin-top:     30px;
    font:           bold 16px verdana;
}

hr
{
    margin-bottom:  4px;
}



p
{
    margin:         10px 0px;
}
td
{
    padding:        0px;
    background:     white;
}

th
{
    padding:        0px;
    background:     #888;
    color:          white;
}

#container
{
    padding:        20px;
    background:     #FFF;
    width:          600px;
    margin:         0px auto;
}


.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 120%;
    height: 120%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.5;
    opacity:.50;
    filter:alpha(opacity=50);
    overflow:auto;
}
.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height:50%;
    padding: 16px;
    border: 16px solid #308dbb;
    background-color: white;
    z-index:1002;


}
.relationTable{
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;


}

.white_content1 {
    display: none;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height:50%;
    padding: 16px;
    border: 10px solid silver;
    background-color: white;
    z-index:1002;


}

.myTableClass{
    visibility:hidden;
    display:none;
}
.myDraggedDiv{
    visibility:hidden;
    display:none;
}
.draggedDivs{



}
.mainTableCell{
    border:solid black 0.5px;
}

.hideTableCell{
    border:solid black 0.5px;
    visibility:hidden;
    display:none;
}
.myTextCell{
    border:solid black 0.5px;
    width:150px;
}
.draggedTable{
    height:100%;
    width:250px;
    border:solid black 0.5px;

}
.draggedColumns{
    height:200px;
    min-width:900px;
    border:solid black 0.5px;

}
.myClassTest{
    height:50%;
    max-height:50%;
    min-width:900px;
    border:solid black 0.5px;

}
.myClassTest1{
    position:absolute;
    height:43%;
    max-height:43%;
    min-width:900px;
    overflow:auto;

}
.savedRelations{
    border:solid black 0.5px;

}
#accordion{
    height:95%;

}
.masterDiv{
    height:550px;
    overflow:auto;
    overflow-x:hidden;

}
.insert{
    width:100%;
}
