/* 
    Document   : toolTip
    Created on : Feb 9, 2010, 7:23:27 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.glt-elm{
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    color: #fff;
    opacity: 0.9;
    visibility: hidden;
    float:left;
    z-index:1003
}

.glt-elm p{
    background:#738678;
    margin: 0;
    padding: 0.5em;
    line-height:15px;
    color:#fff;
    font-family:verdana;
    float:left;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
}

.glt-elm img{
    float:left;
    display: block;
}

.glt-elm{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
*{font:11px verdana}

