            html{
            height:100%;
            }
            
            body {
/*            background-image:url(../images/bodyfiller.gif);*/
            background-position:left;
            background-repeat:repeat-x;
            font-family:Verdana, Arial, Helvetica, sans-serif;
            font-size:11px;
            color:#046995;
            padding:0;
            margin:0;
            height:100%;
            }
            .dropdown{
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt;
            font-weight: normal;
            padding: 0px;
            margin: 0px;
            vertical-align: middle;
            border-top: 1px inset #333333;
            border-right: 1px inset #999999;
            border-bottom: 1px inset #999999;
            border-left: 1px inset #313031;
            height: 18px;
            /*apply this class to a DropDownBox only*/
            }
            .btn {
            font-family: Verdana, Arial, tahoma, sans-serif;
            font-size:11px;
            background-color: #B5B5B5;
            color:#454545; 
            font-weight:600;
            height:22px;
            text-decoration:none;
            cursor: pointer;
            border-bottom: 1px solid #999999;
            border-right: 1px solid #999999;
            border-left: 1px solid #F5F5F5;
            border-top:1px solid #F5F5F5;
            margin:2px;
            /*apply this class to a Button only*/
            }
            .myhead
            {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt;
            font-weight: normal;
            padding-left:12px;
            background-color:#bdbdbd;
            color:black;
            /*apply this class to a Headings of servicestable only*/
            }
            .mydata
            {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt;
            font-weight: normal;
            color: black;
            padding-left:12px;
            background-color:white;
            border-top: 1px outset #000066;
            border-right: 1px outset #999999;
            border-bottom: 1px outset #999999;
            border-left: 1px outset #000066;
            /*apply this class to a Headings of servicestable only*/
            }
             .myhead1
            {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt;
            font-weight: normal;
            color: #3A457C;
            padding-left:12px;
            background-color:white;
            border-bottom: 1px solid #999999;
            border-right: 1px solid #999999;
            border-left: 1px solid #F5F5F5;
            border-top:1px solid #F5F5F5;
            /*apply this class to a right side fields only*/
            }
            .errorMsg {
             font-family: Verdana, Arial,Helvetica;
            font-weight: normal;
            font-size: 8pt;
            color: #990000;
            padding-left: 10px;
            /*apply this class to a ERROR messages only*/
            }
            .textarea4 {
            font-family: Verdana, Arial, Helvetica;
            font-weight: normal;
            font-size: 9pt;
            color: #000000;
            width: 347px;
            height:150px;
            margin-left: 3px;
            border-top: 1px inset #000066;
            border-right: 1px inset #999999;
            border-bottom: 1px inset #999999;
            border-left: 1px inset #000066;
            /*apply this class to a TextArea field only*/
            }
             tbody td{
            background-color:#FFFFFF;}

          .prgtableheader
         {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
            color: #3A457C;
            padding-left:12px;
            background-color:#bdbdbd;
            height:100%;
         }
         .btn {
         font-family: Verdana, Arial, tahoma, sans-serif;
         font-size:11px;
         background-color: #B5B5B5;
         color:#454545; 
         font-weight:600;
         height:22px;
         text-decoration:none;
         cursor: pointer;
         border-bottom: 1px solid #999999;
         border-right: 1px solid #999999;
         border-left: 1px solid #F5F5F5;
         border-top:1px solid #F5F5F5;
         margin:2px;
        }
        
      .prgtableheader
          { 
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 11px;
           font-weight: bold;
           color: #3A457C;
           padding-left:12px;
           background-color:#EAF2F7;
           height:100%;
         }

        .prgtable1
        {
          border: #C2DFFF solid 1px;
        font-size: 1.4em;
        border-collapse:collapse; 
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20;
        padding-right: 20;
        }
.eXtremeTable select {
	font-family: Verdana;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 75px;
}

.eXtremeTable .tableRegion {
	border: 1px solid silver;
	padding: 2px;
	font-family:Verdana;
	font-size: 10px;
	margin-top: 7px;
}

.eXtremeTable .filter {
	background-color: #efefef;
}

.eXtremeTable .filter input {
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
}

.eXtremeTable .filter select {
	font-family: Verdana;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 100%;
}

.eXtremeTable .tableHeader {
	background-color: #308dbb;
	color: white;
	font-family:Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	margin: 0;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .tableHeaderSort {
	background-color: #3a95c2;
	color: white;
	font-family:Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .odd a, .even a {
	color: Black;
	font-size: 10px;
}

.eXtremeTable .odd td, .eXtremeTable .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	font-family:Verdana;
	font-size: 10px;
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background-color: #dfe4e8;
}

.eXtremeTable .highlight td {
	color: black;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.eXtremeTable .highlight a, .highlight a {
	color: black;
	font-size: 10px;
}

.eXtremeTable .toolbar {
	background-color: #F4F4F4;
	font-family:Verdana;
	font-size: 9px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	background-color: #F4F4F4;
	font-family:Verdana;
	font-size: 10px;
}

.eXtremeTable .filterButtons {
	background-color: #efefef;
	text-align: right;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family:Verdana;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family:Verdana;
	font-size:10px;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .tableTotal {
	background-color: #FFFFFF;
	border-top: solid 1px Silver;	
}

.eXtremeTable .tableTotalEmpty {
	background-color: #FFFFFF;	
}



.suggestLink { background-color: #FFFFFF;
                padding: 2px 6px 2px 6px; }
.suggestLinkOver { background-color: #0099CC;
                    padding: 2px 6px 2px 6px; }
 #suggestList { position: absolute;
                background-color: #FFFFFF;
                text-align: left;
                border: 1px solid #000000;
                border-top-width: 0px;
                width: 160px; }

 #suggestList1 { position: absolute;
                background-color: #FFFFFF;
                text-align: left;
                border: 1px solid #000000;
                border-top-width: 0px;
                width: 160px; }
 #wrapper { display: inline;}
 #country { width: 160px; }
 #country1 { width: 160px; }

        

        