.suggestLink { background-color: #FFFFFF;
                padding: 2px 6px 2px 6px; }

 .suggestLinkOver { background-color: #0099CC;
                    padding: 2px 6px 2px 6px; }
 #cboRegionsuggestList { position: absolute;
                background-color: #FFFFFF;
                text-align: left;
                border: 1px solid #000000;
                border-top-width: 0px;
                width: 160px;
                height:250px;
                overflow:auto;
                font-size:12px;}

 #emaildiv { position: absolute;
                background-color: #FFFFFF;
                text-align: left;
                border: 1px solid #000000;
                border-top-width: 0px;
                height:250px;
                overflow:auto;
                font-size:12px;
               }


 #wrapper { display: inline;}

